$body: #F2EDEB;
$primary-0: #006ff9;
$primary-1: #EC7E47;
$primary-2: #E04B00;

$blue-0: #0A1631;
$blue-1: #0F214A;
$blue-2: #050A17;

$black-0: #2A2A2A;
$black-1: #424242;
$black-2: #0F0F0F;

$alert-danger-0: #EC2F23;
$alert-danger-1: #D40D00;
$alert-danger-ligth: #FFECEB;
$alert-warning: #ECD823;
$alert-warning-ligth: #FFFDEB;
$alert-info: #1F4496;
$alert-info-ligth: #EBF1FF;
$alert-success: #78B82A;
$alert-success-ligth: #F6FFEB;

$while: #FFFFFF;
$while-1: #FFFAF8;
$while-2: #F2EDEB;
$while-3: #F2E4DF;


$gray: #9C9EA1;
$gray-1: #B4B7BA;
$gray-2: #838587;

